
---
import Container from "../../components/Container.astro"
import Layout from '../../layouts/Layout.astro';
import articlesData from '../../components//Data/articles.json';

export async function getStaticPaths() {
  return articlesData.map(({ id, title, publish_date, description, author, authorImage}) => {
    return {
      params: { id },
      props: { id, title, publish_date, description, author, authorImage},
    };
  });
}
const { title, publish_date, description, author, authorImage} = Astro.props;
export const prerender = true;

---

<Layout title="Team Eve Garay">
	<main class="pt-24 mb-40 space-y-40">
	<Container>
        <section class="bg-white">
            <div class="items-center max-w-screen-xl gap-16 px-4 py-8 mx-auto lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
                <div class="font-light text-gray-500 sm:text-lg">
                    <h2 class="mb-4 text-4xl font-extrabold tracking-tight text-gray-900">{title}</h2>
                    <p class="mb-4">{description}</p>
                    <div class="flex items-center justify-between mt-6">
                        <div class="flex items-center space-x-4">
                          <img class="rounded-full w-7 h-7" src={authorImage} alt={author + " cover"} />
                          <span class="font-medium">
                              {author}
                          </span>
                        </div>
                        <span class="text-sm">{publish_date}</span>
                    </div>
                </div>
                <div class="grid grid-cols-2 gap-4 mt-8">
                    <img class="w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-2.png" alt="office content 1">
                    <img class="w-full mt-4 rounded-lg lg:mt-10" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-1.png" alt="office content 2">
                </div>
            </div>
        </section>
    </Container>
	</main>
</Layout>
